body{
    background: rgb(138, 29, 138);
    color: rgb(178, 206, 231);
    margin:0px ;
    font-family: "STIX Two Text", serif;
    margin-bottom: 100px;
}
header{
    border-bottom: 3px solid rgb(216, 106, 216);
    color: rgb(148, 215, 219);
    padding: 20px;
    font-size: 35px;
}
.chamada{
    background: rgb(230, 12, 230);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 35px;
}
.categoria{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria-videos img{
    height: 200px;
    opacity: 0.5;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 3px solid rgb(177, 243, 252);
}