body{
    background: rgb(201, 74, 201);
    color: aliceblue;
    margin:0px ;
    font-family: "STIX Two Text", serif;
    margin-bottom: 100px;
}

header{
    border-bottom: 3px solid rgb(211, 178, 211);
    color: white;
    padding: 20px;
    font-size: 35px;
}